
<div class="message <%= message.user == current_user ? "align-right" : "align-left" %>">
  <div class="corpus">
  <% if current_user %>
    <p><%= message.body %></p>
  <% else %>
  <h5><strong><%= message.user.username %></strong></h5>
    <p><%= message.body %></p>
  <% end %>
  </div>
</div>

