#chatroom {
  margin-left: 1em;
}
.discussion {
  margin-top: 20px;
  height: 185px;
  width: 140%;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  // background-size: cover !important;
  position: relative;
  padding-left: 2px;
  padding-top: 2px;
}

.btn-chatroom {
  position: absolute;
  bottom: 3px;
}
#join {
  left: 2px;
}
#edit {
  left: 60px;
}
#leave {
  right:90px
}
#destroy {
  right: 2px
}
.btn-new {
  position: absolute;
  bottom: 10px;
  left: 200px;
}

@media(min-width: 320px){
  #chatroom {
    width: 300px;
  }
}
@media(min-width: 500px){
  #chatroom {
    width: 400px;
  }
}

@media(min-width: 700px){
  #chatroom {
    width: 100%;
  }
}
