.corpus {
  // line-height: 1.2;
  width: 65%;
  font-family: 'Dosis', sans-serif;
  font-size: 19px;
}
h5 {
 color: white;
 font-family: 'Baloo Bhai', cursive;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

